.navWrap {
    margin-top: 20px;
}
//首页，小工具
.iconWrap {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.iconWrap img{
    overflow: hidden;
    border-radius: 60px;
    object-fit:cover;
    margin-right: 12px;
}
//首页
.iconFooter > div{
    padding-right: 16px;
}
